/* Global Styles */
*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 1.1rem !important;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #f9f9f9;
}

.btn:focus,
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: none;
}

a {
  text-decoration: none !important;
}

textarea {
  resize: none;
}

.separator {
  color: #f2f2f2;
}

.submit-btn {
  width: 150px !important;
}

.btn-success {
  width: 120px !important;
  height: 30px !important;
  color: #fff;
  background-color: #18bc9c;
  border: 1px solid#18BC9C !important;
}

.page-title {
  background-color: #f5f5f5;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: calc(50% - 50vw);
  margin-bottom: 2rem;
  width: 100vw;
}

.page-title a {
  color: #212529;
}

.page-title a:hover {
  color: #18bc9c;
}

.page-title h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

/* Header Styles*/

.navbar {
  height: 3rem;
  background-color: #212529;
  margin-bottom: -25px;
}

.navbar-brand img {
  height: 2rem;
}

.navbar-toggler {
  padding: 2px 6px;
  border: none;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
  outline: none;
  border: none;
}

.navbar-toggler-icon {
  width: 1.5em;
  height: 1.5em;
}

.navdiv {
  display: inherit;
}

.nav1 {
  margin-right: 4rem;
}

.nav-link {
  display: inline-flex;
}

.nav-icons {
  display: inline-flex;
}

.nav-link ion-icon {
  margin-top: 1.35rem;
  margin-right: 4px;
  font-size: 1.2rem;
  color: #18bc9c;
}

.nav-link ion-icon:hover,
.nav-link ion-icon:active,
.nav-link ion-icon:focus {
  color: #f9f9f9;
}

.nav-link p {
  margin-top: 1.2rem;
  font-size: 1rem;
  color: #f9f9f9;
}

.nav-link p:hover {
  color: #3cd4b6;
}

#search-form {
  margin-right: 4rem;
}

#search-form input {
  height: 1.5rem;
  margin-top: 2px;
  font-size: 0.8rem;
  padding: 0.4rem 0.8rem;
  border-radius: 0;
  border: 1px solid #fff;
}

#search-form button {
  height: 1.5rem;
  margin-top: 2px;
  padding: 2px 6px;
  border-radius: 0;
  color: #f9f9f9;
}

.show {
  z-index: 2000;
}

.flash-data {
  margin: 28px;
  font-size: 1rem;
}

.flash-data .alert {
  padding: 0.5rem 1rem !important;
}

.flash-data button {
  outline: none;
  border: none;
  padding: 0.5rem 1rem !important;
}

/* Page Styles */

/* Home */
.hero {
  display: table;
  position: relative !important;
  background-image: url("../images/cover.png") !important;
  background-size: cover !important;
  color: #f9f9f9;
  width: 100% !important;
  height: 100vh;
}

.hero::after {
  content: "";
  z-index: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.hero .container {
  position: relative;
  z-index: 1;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.hero-brand {
  display: inline-block;
  margin-bottom: 15px;
}

.hero-brand:hover {
  opacity: 0.75;
}

.hero-logo {
  width: 100px;
  position: center;
}

.hero-caption {
  text-align: center;
  text-transform: capitalize;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-weight: 500;
}

.tagline {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 25px 0;
  color: #fff;
}

#home_btn {
  background-color: rgb(7, 110, 90);
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #fff;
  padding: 10px 35px;
  border-radius: 50px;
}

#home_btn:hover {
  background-color: transparent;
  color: #fff;
  border: 1px solid gainsboro;
}

/* Login form, registration and reset password forms */
.login_form,
.registration_form,
.reset_password,
.change_password {
  background-color: #fff;
  margin: 10% 25%;
  padding: 5%;
}

.login_form h2,
.registration_form h2,
.reset_password h2,
.change_password h2 {
  font-size: 1.5rem;
}

.login_form label,
.registration_form label,
.reset_password label,
.change_password label {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.reset_password small {
  color: tomato;
}

/* Country */

.country-index {
  font-size: 1rem;
  width: 80%;
}

.create-country {
  background-color: #fff;
  margin: 5% 25%;
  padding: 5%;
}

/* Posts */

/* .sidebar1 {
  background-color: #fdfdfd;
} */

.post-div1 {
  margin-right: 2%;
  /* background-color: #fdfdfd; */
  border-radius: 5px;
}

.post-div2 {
  margin-right: 2%;
  background-color: #fdfdfd;
  padding: 2rem;
  border-radius: 5px;
}

.post-div3 {
  margin-right: 0;
  background-color: #fdfdfd;
  padding: 0 2rem 1rem 2rem;
  border-radius: 5px;
}

.post-div1 a {
  margin: -1rem auto;
}

.post-div1 .avatar-image {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
}

.post-div1 p {
  font-size: 0.9rem;
  margin-left: 0.5rem;
  margin-top: 0.95rem;
  color: rgb(7, 110, 90);
}

.post-div1 p.first-child {
  margin-top: 0.7rem;
}

.post-div1 .image {
  margin-top: 1rem;
  margin-left: 1rem;
}

.post-content {
  padding-left: 1rem;
}

.post-thumbnail {
  width: 100%;
  height: 17rem;
  object-fit: cover;
  margin-bottom: 2rem;
}

.post-content h4 {
  color: #212529;
  margin-bottom: 2rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.post-content h4:hover,
.post-data h6:hover {
  color: #18bc9c;
}

.post-btn {
  font-size: 0.7rem;
  text-transform: uppercase;
  background-color: #18bc9c;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #fff;
  padding: 5px 15px;
  border-radius: 50px;
}

.post-btn:hover {
  background-color: transparent;
  color: rgb(7, 110, 90);
  border: 1px solid gainsboro;
  font-weight: 700;
}

.post-content p {
  font-size: 1rem;
}

.post-content .meta-data {
  color: #8b8b8b;
  width: 100%;
}

.post-content .meta-data div {
  display: inline-flex;
  margin-bottom: 1rem;
}

.post-content .meta-data * {
  cursor: pointer;
  color: #8b8b8b;
}

.post-content .meta-data a:hover,
.post-content .meta-data div:hover * {
  color: #212529;
}

.post-content .meta-data p {
  font-size: 0.8rem;
  margin-left: 0.5rem;
}

.post-content .post-avatar {
  border-radius: 50%;
  width: 20px;
}

.index-comment-details {
  height: 10em;
  overflow-y: scroll;
}

.index-comment-details::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.sidebar section {
  margin-bottom: 2rem;
}

.search-bar input {
  height: 2rem;
  width: 100% !important;
  font-size: 0.8rem;
  padding: 1rem;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  position: relative;
}

.search-bar button {
  position: absolute;
  width: 1rem;
  padding: 1rem;
  background-color: #ccc;
  color: #212529;
  font-size: 0.8rem;
  border: 1px solid #ccc;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  right: 40px;
  height: 18px;
  outline: none;
}

.search-bar button:hover {
  background-color: rgb(7, 110, 90);
  color: #f9f9f9;
}

.search-bar ion-icon {
  font-size: 1.2rem;
  position: absolute;
  right: 5;
  top: 8;
}

.sidebar h5 {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.nearby-meta-data {
  margin-bottom: 1.5rem;
}

.nearby-meta-data .nearby-avatar {
  border-radius: 50%;
  width: 30px;
  margin-right: 0.5rem;
}

.nearby-meta-data a {
  font-size: 0.9rem;
  color: #212529;
}

.latest-post .post-info {
  display: inline-flex;
  margin: 0.5rem auto;
}

.latest-post .post-thumbnail {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 2px;
  margin-bottom: 0;
}

.latest-post .post-data h6 {
  color: #212529;
  font-size: 0.85rem;
  line-height: 1.2rem;
  margin-left: 1rem;
}

.latest-post .post-data h6:hover {
  color: #18bc9c;
}

.latest-post .post-data p {
  color: #8b8b8b;
  font-size: 0.8rem;
  margin-bottom: -0.5rem;
}

/* Single Post View */
/* .view-content {
  width: 100%;
  height: auto;
} */

.view-content .post-thumbnail {
  width: 100%;
  height: auto;
  object-fit: fill;
}

.view-content h4 {
  color: #212529;
  font-size: 1.2rem;
}

.view-content p {
  font-size: 1rem;
}

.view-content .meta-data {
  color: #8b8b8b;
  width: 100%;
  display: inline-flex;
}

.view-content .meta-data span,
.comment-info {
  margin-right: 0.5rem;
  display: inline-flex;
}

.view-content .meta-data a {
  color: #8b8b8b !important;
}

.view-content .post-avatar {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.view-content .meta-data p {
  font-size: 0.9rem;
  margin-left: 5px;
}

.view-content .meta-data a span:hover *,
.nearby-meta-data a:hover {
  color: #18bc9c;
}

.view-content .meta-data ion-icon {
  margin-top: 2px;
}

.buttons {
  display: flex;
  margin-bottom: -24px;
}

.edit {
  height: max-content;
  margin-right: 1rem;
}

.comment-heading {
  margin: 1.5rem auto;
  cursor: pointer;
}

/* .comment-details {
  margin-bottom: -24px;
} */

.comment-info .comment-avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 1rem;
}

.comment-info span h5 {
  font-size: 1rem;
}

.comment-info span p {
  font-size: 0.9rem;
}

.comment-body {
  border: none;
  border-bottom: 1px solid #ccc;
}

.comment-body:focus {
  border: none;
  outline: 0px !important;
  border-bottom: 1px solid #ccc;
}

.index-comment2 {
  position: relative;
  margin-bottom: 0;
  border: 1px solid #ccc;
  border-radius: 50px;
  width: 95%;
  height: 20% !important;
}

.index-comment-body {
  width: 85%;
  height: 100% !important;
  background-color: inherit;
  font-size: 0.8rem;
  position: relative;
  outline: none;
  border: none;
  border-radius: 50px;
}

.index-comment2 .btn {
  font-size: 0.8rem;
  right: 0;
  top: -1;
  color: #7b8a8b;
  position: absolute;
}

.index-comment2 .btn:hover {
  color: #212529;
}

/* Profile */

.nav-tabs {
  margin-top: 1.5rem;
}

.tab-pane {
  margin-top: 1.5rem !important;
}

.tab-pane .profile-heading,
.tab-pane h5 {
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

td {
  font-size: 1rem;
}

.avatar {
  margin: 1.5rem auto;
}

.upload-file input,
.profile .avatar {
  width: 16.5rem;
}

#msg_btn {
  margin-top: -1rem;
  width: 16.5rem;
}

#msg_btn span {
  font-weight: bold;
  font-size: 1.2em;
}

#msg_btn ion-icon {
  font-size: 1.2em !important;
  margin-bottom: -0.2em !important;
}

#edit label {
  font-size: 1rem;
}

.search-info {
  display: inline-flex;
  margin-bottom: -0.5rem;
}

.search-info img {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

.search-info span {
  line-height: 0.8rem;
}

.search-info span .location {
  font-size: 0.8rem;
}

#chat_modal {
  margin-left: 36rem !important;
  margin-top: 6rem !important;
}

.notification_circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ff0000;
  text-align: center;
  color: #fff;
  padding: 3px 6px;
}

.online {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #5cb85c;
  text-align: center;
  color: #fff;
  padding: 3px 6px;
}

.offline {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ccc;
  text-align: center;
  color: #fff;
  padding: 3px 6px;
}

.line {
  border-bottom: 1px solid rgb(221, 219, 219);
  margin-bottom: 2.5rem;
}

/* Media Queries*/

/* Header */

@media (max-width: 1198px) {
  .navbar {
    height: auto;
  }

  .navbar .container {
    margin-top: 0 !important;
  }

  /* .nav2 .nav-link ion-icon {
    margin-top: auto;
  }

  .navdiv {
    margin: 0 auto;
  } */

  .nav1 .nav-item,
  .nav2 .nav-item {
    margin-right: 1rem;
  }

  .nav1 {
    margin-bottom: 0.5rem;
  }

  .nav2 {
    margin-top: -0.5rem;
  }

  .nav1 .nav-item a * {
    margin: 4px;
  }

  .nav1 .nav-item a ion-icon {
    margin-top: 8px;
  }

  .nav1 .nav-item a * {
    margin-left: 4px;
  }

  /* #search-form {
    margin: 0 auto;
  } */

  #search-form input {
    border-radius: 1px;
  }

  #search-form button {
    border-radius: 1px;
  }

  .latest-post .post-thumbnail {
    width: 7rem;
    height: 7rem;
  }

  .search-bar button {
    right: 32px;
  }
}

/* Login, Registration, Change Password and Reset Password */
@media (max-width: 992px) {
  .login_form,
  .registration_form,
  .reset_password,
  .change_password {
    background-color: #fff;
    margin: 20% 14%;
    padding: 5%;
  }

  .latest-post .post-thumbnail {
    width: 7rem;
    height: 7rem;
  }

  .post-div1,
  .post-div3 {
    display: none;
  }
}

@media (max-width: 768px) {
  .login_form,
  .registration_form,
  .reset_password,
  .change_password {
    background-color: #fff;
    margin: 20% 15%;
    padding: 5%;
  }
}

@media (max-width: 576px) {
  .navdiv {
    display: block;
  }

  .nav1 .nav-link {
    padding-bottom: 0;
  }

  #search-form input {
    width: 70% !important;
  }

  /* Home */
  .hero-caption {
    font-size: 2.5rem;
  }

  .tagline {
    font-size: 1.2rem;
  }

  .view-content .meta-data p,
  .view-content .meta-data ion-icon {
    font-size: 0.8rem;
  }
}
